@charset 'utf-8';

html, body {
    margin: 0;
    @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    text-decoration: none;
}

.hidden {
    display: none;
}