@charset 'utf-8';

body {
    background-color: beige;
}

h1 {
    color: cornflowerblue;
    transition: color .5s ease-in-out;
}

.clicked {
    /* div span 어떤거든간에 tomato지정! */
    color: tomato;
}

.sexy-font {
    @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');
    font-family: 'Source Sans Pro', sans-serif;
}